


.\bin\windows\zookeeper-server-start.bat .\config\zookeeper.properties
.\bin\windows\kafka-server-start.bat .\config\server.properties


Mongo Db
========================
add  address to path
mongo --version
to start mongod
RECOMMENDATION : Use PowerShell in Windows!
Recommendation 1
If you are using Windows, make sure that you use PowerShell instead of Command Prompt.
Recommendation 2
If you are using Window 10 and are using docker toolbox
=> Use 192.168.99.100 instead of localhost.
Note: If 192.168.99.100 does not work, you can find the IP by using the command docker-machine ip
Reason
In Window 10 when using docker toolbox, docker is configured to use the default machine with IP 192.168.99.100







-> Elasticsearch security features have been automatically configured!
-> Authentication is enabled and cluster connections are encrypted.

->  Password for the elastic user (reset with `bin/elasticsearch-reset-password -u elastic`):
  66U3RF6XqBcAaQOwT518

->  HTTP CA certificate SHA-256 fingerprint:
  c2d5a5c6d384dfb5a5de4647d12881dc70246a504323d618cc8973fb05169812

->  Configure Kibana to use this cluster:
* Run Kibana and click the configuration link in the terminal when Kibana starts.
* Copy the following enrollment token and paste it into Kibana in your browser (valid for the next 30 minutes):
  eyJ2ZXIiOiI4LjMuMyIsImFkciI6WyIxNzIuMjcuODAuMTo5MjAwIl0sImZnciI6ImMyZDVhNWM2ZDM4NGRmYjVhNWRlNDY0N2QxMjg4MWRjNzAyNDZhNTA0MzIzZDYxOGNjODk3M2ZiMDUxNjk4MTIiLCJrZXkiOiJrWFJ3ZDRJQi1pYVZqWDBwbE5JSjpDS0xhM0E5Y1RrS296REFPZ1RrZWR3In0=

->  Configure other nodes to join this cluster:
* On this node:
  - Create an enrollment token with `bin/elasticsearch-create-enrollment-token -s node`.
  - Uncomment the transport.host setting at the end of config/elasticsearch.yml.
  - Restart Elasticsearch.
* On other nodes:
  - Start Elasticsearch with `bin/elasticsearch --enrollment-token <token>`, using the enrollment token that you generated.

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
TWEET APP
+++++++++==+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
COMPONENT-2 RUBRICS/EXPECTED DELIVERABLES

1.1 REST API (PRODUCTS & FRAMEWORKS -> COMPUTE & INTEGRATION):

a. Use Spring Boot to version and implement the REST endpoints.

b. Implement HTTP methods like GET, POST, PUT, DELETE, PATCH to implement RESTful resources:

POST /api/v1.0/tweets/register Register as new user

GET /api/v1.0/tweets/login Login

GET /api/v1.0/tweets/<username>/forgot Forgot password

GET /api/v1.0/tweets/all Get all tweets

GET /api/v1.0/tweets/users/all Get all users

GET /api/v/1.0/tweets/user/search/username* Search by username

GET /api/v1.0/tweets/username Get all tweets of user

POST /api/v1.0/tweets/<username>/add Post new tweet

PUT /api/v1.0/tweets/<username>/update/<id> Update tweet

DELETE /api/v1.0/tweets/<username>/delete/<id> Delete tweet

PUT /api/v1.0/tweets/<username>/like/<id> Like tweet

POST /api/v1.0/tweets/<username>/reply/<id> Reply to tweet

c. *username may be partial or complete username

d. Use necessary configuration in place for REST API in application.properties or bootstrap.properties or application.yml; whichever is applicable.

e. Package Structure for Spring Boot Project will be like com.tweetapp.* with proper naming conventions for package and beans.

f. Use configuration class annotated with @Configuration and @Service for business layer.

g. Use constructor-based dependency injection in few classes and setter-based dependency injection in few classes.

h. Follow Spring Bean Naming Conventions

1.2 DATABASE (PRODUCTS & FRAMEWORKS -> DATABASE & STORAGE):

1. As an application developer:

a. Implement ORM with Spring Data MongoRepository and MongoDB. For complex and custom queries, create custom methods and use @Query, Aggregations (AggregationOperation, MatchOperation, AggregationResults), implementation of MongoTemplate etc as necessary.

b. Have necessary configuration in place for REST API in application.properties or bootstrap.properties or application.yml OR Java based configuration; whichever is applicable.

1.3 API DOCUMENTATION (PRODUCTS & FRAMEWORKS -> COMPUTE & INTEGRATION):

1. As an application developer:

a. Document REST endpoints with OpenAPI or Swagger

1.4 MESSAGING (PRODUCTS & FRAMEWORKS -> COMPUTE & INTEGRATION):

1. As an application developer:

a. Have a centralized logging system

b. Be able to communicate using a messaging infrastructure.

c. Use KafkaTemplate for communication with Springboot and topics in Kafka/RabbitMQ/ActiveMQ/KubeMQ.

d. Use Kafka/RabbitMQ/ActiveMQ/KubeMQ for messaging infrastructure and implement producers to write messages/tweets to topic and consumers to read messages/tweets from topic.

e. Configure Springboot app to log all logging messages to Kafka/RabbitMQ/ActiveMQ/KubeMQ.

f. Configure all Kafka/RabbitMQ/ActiveMQ/KubeMQ related configuration needed for Spring Boot in *.properties or *.yml file.

1.5 LOG/ MONITORING (PRODUCTS & FRAMEWORKS -> GOVERNANCE & TOOLING):

1. As an application developer:

a. Containerize the complete application, which includes front-end, middleware and Kafka/RabbitMQ/ActiveMQ/KubeMQ (consumers and producers) using docker and Dockerfile.

b. Use .dockerignore as necessary to avoid containerizing un-necessary packages.

c. Integrate Spring Boot Actuator with Prometheus and Grafana to monitor middleware.

d. Implement logs with logstash.

e. Open the preconfigured Logstash in Kibana and check if it successfully connect to Elasticsearch Server.

1.6 DEBUGGING & TROUBLESHOOTING

1. Generate bug report & error logs - Report must be linked with final deliverables which should also suggest the resolution for the encountered bugs and errors.



s
